/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Below this line my CSS code*/
html, body {
    font-family: 'Roboto Mono', monospace;
}




h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3.5em;
    margin-bottom: 7%;
}

div.text > p {
    margin-bottom: 7%;
}

nav > .first-item {
    background-color: #FF764E;
}

nav > .second-item {
    background-color: #5ED3EB;
}

nav > .third-item {
    background-color: #FFCD69;
}

nav a {
    border-radius: 12px;
    text-decoration: none;
    color:white;
    padding:15px;
    margin-right: 8%;
}
header nav {
    margin-top:3%;
    text-align: center;
    margin-bottom:6%;
}
footer nav {
    text-align: center;
    margin-bottom: 3%;
}


section.main-text {
    background-color: #DDB9A3;
    margin-left: 15%;
    margin-right: 15%;
    padding: 1% 2%;
}

section.main-text > p {
    margin-bottom: 2%;
    text-align: center;
    color:white;
    
}

section.secondary-text {
    text-align: center;
}

section.secondary-text > p {
    padding-left: 37%;
    padding-right: 37%;
    padding-bottom: 3%;
}

footer {
    background-color: #F9E7DC;
}
span.boldText {
    font-weight: bold;
}

header > div > div > img {
    border-radius: 100%;
    /*width: 50%;*/
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}
div > .image > img {
    max-width: 40%;
    max-height: auto;
  }

  div > .image {
    text-align: center;
    margin-right:-15%;
  }

  div > .text {
    margin-right: 22%;
  }

  footer > .footerimage > img {
    width:50%;
    height: 25%;

  }

  footer > .footerimage {
    text-align: center;
    padding-bottom: 3%;
    margin-top: 10%;
    width: 100%;
  }

